* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    background: linear-gradient(to bottom right, #42ebf4, #0c99a0); 
}

#container {
    width: 600px;
    margin: 150px auto;
    border-radius: 5px;
    position: relative;
}

#container:hover #controls {
opacity: 1;
}

#controls {
    position: absolute;
    bottom: 4px;
    width: 100%;
    opacity: 0;
    background-color: rgba(50, 50, 50, .7);
    padding:  10px;
    transition: opacity .5s;
}

button {
    margin-left: 20px;
}